language: node_js
os: linux
dist: questing
node_js:
  - '24'
cache:
  directories:
    - node_modules
install:
  - npm ci
script:
  - npm run lint
  - npm run build
branches:
  only:
    - main
    - master
notifications:
  email:
    on_failure: change
    on_success: change
